@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 767px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: Kumbh Sans, sans-serif;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 23px;
    }
    #menu {
        display: flex;
        flex-direction: column;
        padding-top: 95px;
        padding-left: 25px;
        gap: 30px;
        position: absolute;
        background: white;
        width: 0vw;
        height: 100vh;
        top: 0;
        left: 0;
        text-align: left;
        transition: 600ms;
        overflow: hidden;
        font-weight: bold;
        z-index: 1000;
        visibility: hidden;
    }

    #menu a {
        color: #1e1f23;
    }

    #showAndHideCart {
        position: absolute;
        background-color: white;
        width: calc(100% - 16px);
        height: 0px;
        top: 75px;
        border-radius: 10px;
        overflow: hidden;
        transition: 600ms;
        visibility: hidden;
        z-index: 999;
    }

    #showAndHideCart > div:first-child {
        padding: 20px;
        border-bottom: solid 1px #e8e8ea;
        font-weight: bold;
    }

    #showAndHideCart.active {
        height: 250px;
        overflow: auto;
        visibility: visible;
    }

    #quantInCart {
        position: absolute;
        font-size: 9px;
        padding: 0.5px 5px;
        border-radius: 50%;
        color: white;
        background-color: #ef8a3a;
        top: -10%;
        right: -10%;
        visibility: hidden;

    }

    #quantInCart.active {
        visibility: visible;
    }

    #msgEmptyCart {
        color: #686d73;
        font-weight: bold;
    }

    #cartContent {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 25px;
        min-height: calc(100% - 61px);
        align-items: center;
        justify-content: space-between;
    }

    #productContentInCart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        list-style: none;
        gap: 20px;
    }

    #productContentInCart li {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    #productContentInCart img {
        width: 50px;
        border-radius: 5px;
    }

    #productContentInCart img[src="./assets/icon-delete.svg"] {
        width: 15px;
        height: 20px;
        border-radius: 0;
    }

    #btnCheckout {
        width: 100%;
        margin-top: 20px;
        padding: 23px;
        border-radius: 10px;
        background-color: #ef8a3a;
        border: none;
        color: white;
        font-weight: bold;
        transition: 300ms;
    }

    #btnCheckout:hover {

        background-color: #ffac6a;
        cursor: pointer;
    }

    #btnCheckout.withoutProduct {
        display: none;
    }

    #menu.active {
        width: 70vw;
        visibility: visible;
        overflow: auto;
    }

    #btnClose {
        position: absolute;
        top: 25px;
        left: 25px;

    }

    #menuMobile {
        display: flex;
        flex-direction: column;
        width: 20px;
        border-bottom: 3px solid;
        color: #6d7079;
        gap: 3px;
    }

    #menuMobile:hover {
        cursor: pointer;
    }

    #menuMobile::before, #menuMobile::after {
        content: '';
        width: 20px;
        height: 3px;
        background: currentColor;
    }
    
    .menuAndLogo {
        display: flex;
        gap: 15px;
        width: 50%;
    }
    
    #logo {
        width: 100px;
    
    }
    
    .iconCartAndAvatar {
        display: flex;
        justify-content: flex-end;
        gap: 23px;
        width: 50%;
    }
    
    .iconCartAndAvatar img {
        width: 22px;
        cursor: pointer;
    }

    .iconCartAndAvatar > div:first-child {
        position: relative;
    }

    .imgProductAndBtns {
        position: relative;
        width: 100%;
    }

    .selectedProductImage {
        width: 100%;
    }

    .btnPreviousAndNext {
        position: absolute;
        background-color: white;
        padding: 15px;
        border-radius: 50%;
    }

    #btnPrevious {
        bottom: calc(50% - 24px);
        left: 15px;
    }

    #btnNext {
        right: 15px;
        bottom: calc(50% - 24px);
    }

    .carouselProductImages {

        display: none;
    }

    .productNamePriceAndInfo {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .sneakerCompanyTitle {
        color: #ef8a3a;
        font-weight: bold;
    }

    .productTitle {
        width: 80%;
    }

    .productDescription {
        color: #707175;
        margin-bottom: 15px;
    }

    .productPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .productPrice div {
        display: flex;
        align-items: center;
        gap: 17px;
    }

    #price {
        font-size: 25px;
        margin-right: 17px;
    }

    #discountPercentage {
        background-color: #ffeddc;
        padding: 3px 7px 3px 7px;
        border-radius: 5px;
        color: #ef8a3a;
        font-weight: bold;
    }

    #oldPrice {
        color: #bebec8;
        text-decoration: line-through;
    }

    .btnsQuantAddCart {

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .quantityOfItems {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f7f8fd;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        font-weight: bold;
    }

    #btnMinusProduct:hover path, #btnPlusProduct:hover path{

        cursor: pointer;
        fill: #ffac6a;
    }

    .btnAddToCart {
        width: 100%;
        padding: 23px;
        margin-bottom: 90px;
        border-radius: 10px;
        background-color: #ef8a3a;
        border: none;
        color: white;
        font-weight: bold;
        box-shadow: 0 30px 4em -20px #ef8a3a;
        transition: 300ms;
    }

    .btnAddToCart:hover {

        background-color: #ffac6a;
        cursor: pointer;
    }

    .btnAddToCart svg {
        width: 17px;
        height: 15px;
        margin-right: 15px;
    }

    .btnAddToCart svg path {
        
        fill: white;
    }
}

@media (min-width: 375px) and (max-width: 767px){
    
    #logo {
        width: 140px;
    
    }

    #menuMobile {
        gap: 5px;
    }
    
}

@media (min-width: 768px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: Kumbh Sans, sans-serif;
    }

    body {

        max-width: 77.1%;
        margin: auto;
    }

    .header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px 0;
        border-bottom: 1px solid #e8e7ec;
    }

    #btnClose {

        display: none;
    }

    #menuMobile {

        display: none;
    }

    
    #showAndHideCart {
        position: absolute;
        background-color: white;
        width: 360px;
        height: 0px;
        top: 90px;
        right: 90px;
        border-radius: 10px;
        box-shadow: 0 0 15px #7a7b80;
        overflow: hidden;
        transition: 600ms;
        visibility: hidden;
        z-index: 999;
    }

    #showAndHideCart > div:first-child {
        padding: 20px;
        border-bottom: solid 1px #e8e8ea;
        font-weight: bold;
    }

    #showAndHideCart.active {
        height: 250px;
        overflow: auto;
        visibility: visible;
    }

    #msgEmptyCart {
        color: #686d73;
        font-weight: bold;
    }

    #cartContent {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 25px;
        min-height: calc(100% - 61px);
        align-items: center;
        justify-content: space-between;
    }

    #productContentInCart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        list-style: none;
        gap: 20px;
    }

    #productContentInCart li {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    #productContentInCart img {
        width: 50px;
        border-radius: 5px;
    }

    #productContentInCart img[src="./assets/icon-delete.svg"] {
        width: 15px;
        height: 20px;
        border-radius: 0;
    }

    #productContentInCart img[src="./assets/icon-delete.svg"]:hover {

        cursor: pointer;
    }

    #btnCheckout {
        width: 100%;
        margin-top: 20px;
        padding: 23px;
        border-radius: 10px;
        background-color: #ef8a3a;
        border: none;
        color: white;
        font-weight: bold;
        transition: 300ms;
    }

    #btnCheckout:hover {
        
        background-color: #ffac6a;
        cursor: pointer;
    }

    #btnCheckout.withoutProduct {
        display: none;
    }
    
    #quantInCart {
        position: absolute;
        font-size: 9px;
        padding: 0.5px 5px;
        border-radius: 50%;
        color: white;
        background-color: #ef8a3a;
        top: -10%;
        right: -10%;
        visibility: hidden;
        
    }
    
    #quantInCart.active {
        visibility: visible;
    }

    .menuAndLogo {
        
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex: 1;
        gap: 50px;
    }
    
    #menu {
        
        display: flex;
        gap: 30px;
        font-size: 14px;
    }
    
    #menu a {
        
        position: relative;
        color: #7a7b80;
        height: 100%;
    }

    #menu a:hover {

        color: #393a3c;
        font-weight: bold;
    }

    #menu a::after {
        
        content: '';
        width: 0%;
        border: solid 2px orange;
        border-radius: 5px;
        position: absolute;
        bottom: -48px;
        left: 0;
        visibility: hidden;
        transition: 300ms;
    }
    
    #menu a:hover::after {
        
        content: '';
        width: 100%;
        visibility: visible;
        transition: 300ms;
    }
    
    .iconCartAndAvatar {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 45px;
    }
    
    .iconCartAndAvatar > div:first-child {
        position: relative;
    }

    #iconCart {
        
        width: 25px;
    }

    #iconCart:hover {

        cursor: pointer;
    }

    #iconCart:hover path {

        fill: #393a3c;
    }
    
    #imageAvatar {

        width: 50px;
    }

    #imageAvatar:hover {

        cursor: pointer;
        border: solid 2px #ffa864;
        border-radius: 50%;
    }

    #main {

        display: flex;
        align-items: center;
        gap: 120px;
        padding: 90px 50px 120px 50px;

    }

    .imgProductAndBtns {

        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #btnPrevious, #btnNext {

        display: none;
    }

    .selectedProductImage {

        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .carouselProductImages {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 100%;
        margin-top: 10px;
    }

    .carouselProductImages div{

        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 12px;
    }

    .carouselProductImages div::before {

        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: white;
        border-radius: 10px;
    }

    .carouselProductImages div:hover::before {

        cursor: pointer;
        opacity: 0.6;
    }

    .carouselProductImages img {

        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .carouselProductImages div.selected {

        border: 2px solid #ef8a3a;
    }

    .carouselProductImages div.selected::before {

        cursor: pointer;
        opacity: 0.6;
    }

    .productNamePriceAndInfo {

        width: 100%;
    }

    .sneakerCompanyTitle {

        font-size: 14px;
        color: #ffa864;
        font-weight: bold;
    }
    
    .productTitle {
        
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 35px;
    }

    .productDescription {

        margin-bottom: 15px;
        color: #7a7b80;
    }

    .productPrice {

        margin-bottom: 15px;
    }

    .productPrice div {

        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 5px;
    }

    #price {

        font-size: 25px;
    }

    #discountPercentage {
        background-color: #ffeddc;
        padding: 2px 7px 2px 7px;
        border-radius: 5px;
        color: #ef8a3a;
        font-weight: bold;
    }

    #oldPrice {
        color: #bebec8;
        text-decoration: line-through;
    }

    .quantityOfItems {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f7f8fd;
        width: 40%;
        height: 62.97px;
        padding: 20px;
        border-radius: 10px;
        font-weight: bold;
    }

    .btnsQuantAddCart {

        display: flex;
        gap: 10px;
    }

    #btnMinusProduct:hover path, #btnPlusProduct:hover path{

        cursor: pointer;
        fill: #ffac6a;
    }

    .btnAddToCart {
        width: 60%;
        padding: 23px;
        margin-bottom: 90px;
        border-radius: 10px;
        background-color: #ef8a3a;
        border: none;
        color: white;
        font-weight: bold;
        box-shadow: 0 30px 4em -20px #ef8a3a;
        transition: 300ms;
    }

    .btnAddToCart:hover {

        background-color: #ffac6a;
        cursor: pointer;
    }

    .btnAddToCart svg {
        width: 17px;
        height: 15px;
        margin-right: 15px;
    }

    .btnAddToCart svg path {
        
        fill: white;
    }

    .lightBox{

        display: none;
    }

    .lightBox.active {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .lightBoxContent {

        width: 30vw;
    }

    .lightBox .btnPreviousAndNext {

        display: none;
    }

    .lightBox .selectedProductImage {

        
        width: 100%;
    }
}

/* Terminar o lightbox do desktop */